@if (getRole()?.roleName == "Admin") {
<h1>Admin Panel</h1>
<h2>Users</h2>
<input type="text" [(ngModel)]="filter" />

<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
    @for (u of getFiltered(); track u.googleId) {
        <tr>
            <td>{{ u.googleId }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.role?.roleName }}</td>
            <td><button (click)="updateRole(u, 1)">Set {{ u.username }} to User</button></td>
            <td><button (click)="updateRole(u, 3)">Set {{ u.username }} to IT</button></td>
            <td><button (click)="updateRole(u, 2)">Set {{ u.username }} to Admin</button></td>
            <td><button (click)="updateRole(u, 4)">Set {{ u.username }} to Inactive</button></td>
        </tr>
        } 
    </tbody>
</table>


}
@else {
    <h1>Please return to the Home page</h1>
}