<app-ticket-form [categories]="allCategories" [user]="getCurrentUser()" (emitTicket)="addTicket($event)"></app-ticket-form>


<br />
@if (isItOrAdmin()) {
    <h1>All Tickets</h1>
}
@else {
    <h1>Your Tickets</h1>
}
<button (click)="toggleDisplayTicket()">Toggle completed tickets</button>

@for (c of allCategories; track c.id) {
    <h2>{{ c.category1 }}</h2>
    @if(getTicketsByCategories(c.category1) != null){
        @for (t of getTicketsByPriority(getTicketsByCategories(c.category1)); track t.id) {
            @if(displayTicket(t)){
                <a routerLink="/{{t.id}}"><h1>{{t.author.username}}: {{ t.problem }}</h1></a>
                <p>{{ t.priority }}</p>
            }
        }
    }
    
}

