<h1>Followed Tickets</h1>
<button (click)="toggleDisplayTicket()">Toggle completed tickets</button>

@if(tickets.length == 0){
    <p>No tickets are followed</p>
}

    @for (c of allCategories; track c.id) {
        <h2>{{ c.category1 }}</h2>
        <table class="table table-hover">
        @if(getTicketsByCategories(c.category1) != null || getTicketsByCategories(c.category1).length != 0){
        <thead>
            <tr class="row">
                <th class="col-2">User</th>
                <th class="col-4">Problem</th>
                <th class="col-2">Priority</th>
                <th class="col-2">Date</th>
                @if(showAll){
                    <th class="col-2">Resolved</th>
                }
            </tr>
        </thead>
        <tbody>
        
            @for (t of getTicketsByPriority(getTicketsByCategories(c.category1)); track t.id) {
                @if(displayTicket(t)){
                    <tr class="row" role="button" routerLink="/{{t.id}}" [class.table-danger]="t.priority =='Critical'" [class.table-warning]="t.priority =='High'" [class.table-success]="t.priority =='Medium'" [class.table-info]="t.priority =='Low'">
                        <td class="col-2">{{t.author.username}}</td>
                        <td class="col-4">{{ t.problem }}</td>
                        <td class="col-2">{{ t.priority }}</td>
                        <td class="col-2">{{ t.date | date:'short'}}</td>
                        @if(showAll){
                            <td class="col-2">{{ t.completed }}</td>
                        }
                    </tr>
                }
            }
        
        </tbody>
    }
</table>
    }